<html lang="en">

<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>镜像管理工具</title>
    <link href="./css/element-ui.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
</head>

<body>
    <div id="menu">
        <div class="container">
            <el-menu  :default-active="activeIndex"  mode="horizontal">
                <div class="title">镜像管理工具</div>
                <div class="navBar">
                    <el-menu-item index="1"><a href="#">Home</a></el-menu-item>
                    <el-menu-item index="1"><a href="#">Home</a></el-menu-item>
                </div>
            </el-menu>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="mirror">
                <div class="title">镜像列表</div>
                <el-input  placeholder="查找镜像" class="search"></el-input>
                <template>
                    <el-table :data="tableData" v-loading="loading" stripe style="width: 100%">
                        <el-table-column prop="name" label="镜像名称" min-width="25%">
                        </el-table-column>
                        <el-table-column prop="last_succeed" label="上一次同步完成时间" min-width="25%">
                            <template scope="scope">
                                <el-popover trigger="hover" placement="top">
                                    <p>本次同步</p>
                                    <p>开始时间: {{ scope.row.start_time }}</p>
                                    <p>结束时间: {{ scope.row.end_time }}</p>
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium" v-if="scope.row.last_succeed==''">暂未同步成功</el-tag>
                                        <el-tag size="medium" v-else>{{ scope.row.last_succeed }}</el-tag>
                                    </div>
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column prop="status" label="状态" min-width="25%">
                            <template scope="scope">
                                <el-tag v-if="scope.row.status == 'SUCCEEDED'" type="success">同步完成</el-tag>
                                <el-tag v-else-if="scope.row.status=='STARTED'" type="warning">同步中</el-tag>
                                <el-tag v-else type="danger">同步出错</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column  label="详细" min-width="20%" type="expand">
                            <template scope="props">
                                <el-form label-position="left"  class="table-expand">
                                    <el-form-item label="镜像名称">
                                        <span>{{ props.row.name }}</span>
                                    </el-form-item>
                                    <el-form-item label="任务ID">
                                        <span>{{ props.row.task_id }}</span>
                                    </el-form-item>
                                    <el-form-item label="本次同步worker">
                                        <span>{{ props.row.hostname }}</span>
                                    </el-form-item>
                                    <el-form-item label="开始时间">
                                        <span>{{ props.row.start_time }}</span>
                                    </el-form-item>
                                    <el-form-item label="结束时间">
                                        <span>{{ props.row.end_time }}</span>
                                    </el-form-item>
                                    <el-form-item label="状态">
                                        <el-tag v-if="props.row.status == 'SUCCEEDED'" type="success">同步完成</el-tag>
                                        <el-tag v-else-if="props.row.status=='STARTED'" type="warning">同步中</el-tag>
                                        <el-tag v-else type="danger">同步出错</el-tag>
                                    </el-form-item>
                                    <el-form-item label="消息">
                                        <span>{{ props.row.message }}</span>
                                    </el-form-item>
                                </el-form>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                
            </div>
        </div>
    </div>
    
    <script src="./js/vue.min.js"></script>
    <script src="./js/element-ui.js"></script>
    <script src="./js/fetch.js"></script>
    <script>
        
        var menu = new Vue({
            el: '#menu',
            data: {
                activeIndex: '1',
            }
        })

        var list=new Vue({
            el:"#main",
            data:{
                loading:true,
                items:[],
                tableData:[],
                dialogTableVisible: false,
            },
            created:function(){
                this.loadmirrors();
            },
            methods:{
                loadmirrors:function(){
                    fetch("http://192.168.38.129:5000/task_status").then(
                        (res)=>{
                            return res.json();
                        }
                    ).then(
                        (items)=>{
                            for(item in items){
                                let data=items[item]
                                let mirror={
                                    'name':item,
                                    'last_succeed':data['last_succeed'],
                                    'status':data['status'],
                                    'start_time':data['start_time'],
                                    'end_time':data['end_time'],
                                    'task_id':data['task_id'],
                                    'hostname':data['hostname'],
                                    'message':data['message']
                                }
                                this.tableData.push(mirror)
                            }
                            console.log(this.tableData)
                            this.loading=false;
                        }
                    )
                },
            }
        })

    </script>
</body>

</html>