body {
    margin: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, Arial, sans-serif，Microsoft YaHei;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.navBar {
    float: right;
    margin-right: 60px;
}
#menu{
    background-color: lightslategray
}
#menu .title{
    float: left;
    display: inline-block;
    line-height: 60px;
    margin-left: 30px;
    font-size: 24px;
    color: #ffffff;
}
.el-menu--horizontal{
    border: none;
    background-color: lightslategray;
}
.el-menu--horizontal .el-menu-item {
    font-size: medium;
    font-weight: 400;
    color: #dbdbdb;
}
.el-menu--horizontal .el-menu-item:hover {
    background-color: lightslategray;
    color: #ffffff;
}
a {
    text-decoration: none;
}

.mirror{
    margin-left: 60px;
    margin-top: 20px;
    width: 70%;
    display: inline-block;
}
.mirror .title{
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    color: #3971ca;
    margin-bottom: 10px;
}
.search{
    display: inline-block;
    width: 190px;
    float: right;
    margin-right: 0;
}

.table-expand {
    font-size: 0;
  }
  .table-expand label {
    width: 150px;
    color: lightslategray;
  }
  .table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }